<div class="page-title-area text-start">
    <div class="container">
        <div class="page-title-content">
            <h2>Podcasts</h2>
        </div>
    </div>

    <!--    <div class="page-shape">-->
    <!--        <div class="shape1"><img src="assets/images/shape/1.png" alt="shape" /></div>-->
    <!--        <div class="shape3"><img src="assets/images/shape/3.png" alt="shape" /></div>-->
    <!--        <div class="shape4"><img src="assets/images/shape/4.png" alt="shape" /></div>-->
    <!--        <div class="shape5"><img src="assets/images/shape/5.png" alt="shape" /></div>-->
    <!--        <div class="shape6"><img src="assets/images/shape/6.png" alt="shape" /></div>-->
    <!--    </div>-->
</div>

<section class="home-blog-area pt-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <!--                    <div class="blog-img">-->
                    <!--                        <a routerLink="/blog-details"><img src="assets/images/blog/1.jpg" alt="blog"></a>-->
                    <!--                    </div>-->

                    <div class="content">
                        <ul>
                            <li>August 2023</li>
                        </ul>
                        <a>
                            <h3>How can AI/smart technology
                                support post cancer treatment patients</h3>
                        </a>
                        <p>
                            We all know a person who has battled cancer. Mental health and depression after treatment
                            can be difficult and their quality of life significantly reduced. So what can technology
                            do about it? Listen to Christine O'Meara and Philip O'Brien from the Walton Institute,
                            Ireland, on what they have to say in answering this question as they speak opening about
                            Artificial Intelligence and Federate Learning and how it can contribute to improving the
                            life of the post cancer treatment patient.
                            TFC work closely with the Walton Institute in the FAITH project and this Podcast was
                            produced in collaboration with Ubitech, Greece, who lead the Podcast series in the Cancer
                            Survivorship - AI for Well Being Cluster.
                        </p>
                        <p>
                            <audio controls>
                                <source src="" type="audio/mpeg">
                                Your browser does not support the audio element.
                            </audio>
                        </p>
                        <!--                        <a routerLink="/blog-details" class="line-bnt">Read More</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
