<section class="banner-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="banner-content pl-30">
                            <h1>Outreach</h1>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <!--                        <div class="banner-img">-->
                        <!--                            <img src="assets/images/home-bg-1-img.png" alt="banner-img" />-->
                        <!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="home-service-area pt-50 pb-70">
    <div class="container">
        <div class="section-title row">
            <div class="col-lg-8">
                <div class="text-container">
                    <div>
                        We deliver dissemination and exploitation plans as well as social media
                        activities and direct engagement to targeted markets and influencers.
                        The company has also established a Meeting-of-Minds concept and run
                        conferences, webinars and workshops to make an outreach difference.
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <app-services-list></app-services-list>
            </div>
        </div>
    </div>
</section>

