<div class="page-title-area text-start">
    <div class="container">
        <div class="page-title-content">
            <h2>News</h2>
        </div>
    </div>

    <!--    <div class="page-shape">-->
    <!--        <div class="shape1"><img src="assets/images/shape/1.png" alt="shape" /></div>-->
    <!--        <div class="shape3"><img src="assets/images/shape/3.png" alt="shape" /></div>-->
    <!--        <div class="shape4"><img src="assets/images/shape/4.png" alt="shape" /></div>-->
    <!--        <div class="shape5"><img src="assets/images/shape/5.png" alt="shape" /></div>-->
    <!--        <div class="shape6"><img src="assets/images/shape/6.png" alt="shape" /></div>-->
    <!--    </div>-->
</div>

<section class="home-blog-area pt-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <!--                    <div class="blog-img">-->
                    <!--                        <a routerLink="/blog-details"><img src="assets/images/blog/1.jpg" alt="blog"></a>-->
                    <!--                    </div>-->

                    <div class="content">
                        <ul>
                            <li>August 2023</li>
                        </ul>
                        <a href="https://www.h2020-faith.eu/2023/08/cs_aiw-cluster-and-the-eu-efforts-to-fight-cancer/"
                           target="_blank">
                            <h3>CS_AIW Cluster and the EU efforts to fight Cancer</h3>
                        </a>
                        <p>
                            The Commission has set an overall goal of improving the lives of more than 3 million
                            people by 2030. The Cancer Survivorship – AI for Well-being cluster is helping for the
                            realization of this objective to be realized. The cluster brings together 11 EU-funded
                            projects working in Artificial Intelligence for healthcare and well-being. Primarily,
                            the Cluster focuses in the post-cancer treatment space with a collective aim to
                            cross-fertilise. This brings to transcend individual project experiences for the wider
                            good and outcome of their individual projects. The Cluster started in October 2020 and
                            it is evolving. Presently, it is flourishing with members collectively working on
                            related issues spanning topics around clinical, technical and business. The Cluster
                            fosters cooperation for the ultimate benefit of the patients, care-givers and of course,
                            medical professionals involved in the care team undertaking. The News article explains how
                            the work of the Cluster is helping the European Commission to reach is
                        </p>
                        <!--                        <a routerLink="/blog-details" class="line-bnt">Read More</a>-->
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <!--                    <div class="blog-img">-->
                    <!--                        <a routerLink="/blog-details"><img src="assets/images/blog/2.jpg" alt="blog"></a>-->
                    <!--                    </div>-->

                    <div class="content">
                        <ul>
                            <li>July 2023</li>
                        </ul>
                        <a routerLink="/news/europol">
                            <h3>EUROPOL and TFC, Den Haag</h3>
                        </a>
                        <p>
                            Based on the work undertaken in No-Fear Project, partner TFC Research & Innovation
                            Limited recently presented their work to Europol on Standardisation as well as on the
                            recently established Horizon Europe PEERS project.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="content">
                        <ul>
                            <li>September 2023</li>
                        </ul>
                        <a href="https://www.emergency-live.com/marketplace/david-crouch-will-discuss-the-latest-trends-in-cbrne/"
                           target="_blank">
                            <h3>TFC participating at the PEERS
                                online workshop September 2023</h3>
                        </a>
                        <p>
                            TFC presenting to Policy Makers, Standardisation Experts and Practitioners at the PEERS
                            'Look, Listen, Learn, Observe and Act' Online workshop are Tom Flynn and Prof. David Crouch.
                            The workshop brings the alpha-platform to the target community over 3 streams so that the
                            co-creation engagement process continues to enable needed capability by frontline
                            responders to be better captured in a disaster risk management and CBRN-E situation,
                            specifically in the preparedness and response.
                            Read about David's involved in the Emergency Live journal
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="content">
                        <ul>
                            <li>September 2023</li>
                        </ul>
                        <a href="https://www.linkedin.com/posts/h2020including_including-newsletter-n8-activity-7107713930327695366-0nYP/?utm_source=share&utm_medium=member_desktop"
                           target="_blank">
                            <h3>Linking in with related Projects - INCLUDING</h3>
                        </a>
                        <p>
                            How does the PEERS project engage with INCLUDING? Have a read of the article published
                            in the INCLUDING project. Interoperability is a vital part of the PEERS project and also
                            for INCLUDING. Both the INCLUDING and PEERS projects are inter-related by their mission
                            and quest to strengthen European resilience, although the scope of PEERS is wider as it
                            covers the full spectrum of CBRNe and not only the nuclear and radiological threat aspects.
                            Notwithstanding that, Article 6 of the European Commission Action Plan between Civil,
                            Space and Defense Industry, 2021 is extremely prevalent to both projects and in mutual
                            support the development of Better Practice Guides and APIs to strengthen interoperability,
                            will further help to contribute to the sharing of knowledge and resources as well as the
                            long-term sustainability intent directed by the Co-Creation Group in PEERS. Through the
                            integrated Virtual Reality component of the PEERS ecosystem, the learning capacity of
                            INCLUDING can be strengthened for the wider benefit of the community supported by
                            both projects. PEERS is committed to holding more Meetings of Minds (MoM) events and
                            sees a logical connection in obtaining further co-creation feedback so that the gamma
                            version of the PEERS platform delivers what the community needs and complements the
                            federated model of INCLUDING.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="content">
                        <ul>
                            <li>October 2023</li>
                        </ul>
                        <a href="./assets/news/bprepared-Press-Release-October-2023.pdf" target="_blank">
                            <h3>TFC – WINS WITH HORIZON EUROPE PROJECT – B-PREPARED</h3>
                        </a>
                        <p>
                            We are pleased to announce the commencement of the European Horizon Europe Framework project, B-
                            PREPARED, which commenced in October 2023 and will run for 36-months aimed at delivering a cost-
                            effective solution to help build a culture of disaster preparedness with a multi-actor approach using
                            realistic historical scenarios in support.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
