<section class="banner-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="banner-content pl-30">
                            <h1>Clustering</h1>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <!--                        <div class="banner-img">-->
                        <!--                            <img src="assets/images/home-bg-1-img.png" alt="banner-img" />-->
                        <!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="home-service-area pt-50 pb-70">
    <div class="container-fluid">
        <div class="section-title row">
            <div class="col-lg-8">
                <div class="text-container">
                    <div>
                        We instigate stakeholder engagement through the development of Cluster Groups who have a
                        specific interest on a topic and bring different intelligence to the table so that perceived
                        understanding and perspectives can be ascertained with follow up support and actions
                    </div>
                </div>

                <div class="text-container">

                    <div>
                        "We don’t work in silo" is the motto we apply to our collective work with participants
                        in our Cluster. For instance, the Cluster ‘Cancer Survivorship – AI for Well Being’
                        (www.cs-aiw.eu) involves multiple stakeholders involved in the post-cancer treatment care,
                        researchers and technologists, working collectively with smart technology with the aim to b
                        etter support patients and their care team in an ever changing world.
                    </div>
                </div>

                <div class="text-container">
                    <div>
                        White Paper (May’ 23) from this Cluster is available online. It describes the incredible work
                        of the Cluster since its formation in October 2020 and includes recommendations for
                        improvements into research areas.
                    </div>
                </div>


            </div>
            <div class="col-lg-4">
                <h3>Services</h3>
                <hr>
                <div class="services">
                    <ul class="services-list">
                        <li routerLink="service-clustering" class="services-list-item">Clustering </li>
                        <li routerLink="" class="services-list-item">Better Practice Guides</li>
                        <li routerLink="" class="services-list-item">Conceptual Architecture</li>
                        <li routerLink="" class="services-list-item">Project Management</li>
                        <li routerLink="" class="services-list-item">Standardization</li>
                        <li routerLink="" class="services-list-item">Outreach</li>
                        <li routerLink="" class="services-list-item">Proposal Development</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>

