<div class="page-title-area text-start">
    <div class="container">
        <div class="page-title-content">
            <h2>Partners</h2>
        </div>
    </div>
</div>

<section class="home-blog-area ptb-50">
    <div class="container">
        <div class="section-title">
            <!-- <p>
                TFC where deemed appropriate on occasions sponsor solid work undertaken by voluntary organisations
                and worthy causes and will use this space on the web site in support.
            </p> -->
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6" >
                <div class="single-blog pointer">
                    <div class="blog-img">
                    <a >
                        <img src="assets/images/partners/TUDublin_RGB.jpg" alt="Technological University of Dublin">
                    </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6" >
                <div class="single-blog pointer">
                    <div class="blog-img">
<!--                        <a >-->
                            <img src="assets/images/partners/politecnico.png" alt="Politecnico Di Milano">
<!--                        </a>-->
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 " >
                <div class="single-blog pointer" >
                    <div class="blog-img">
                        <a ><img src="assets/images/partners/tr.png" alt="Trilateral Research"></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6" >
                <div class="single-blog pointer" >
                    <div class="blog-img">
                        <a><img src="assets/images/partners/UPO.png" alt="UPO Crimedim"></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6" >
                <div class="single-blog pointer" >
                    <div class="blog-img">
                        <a><img src="assets/images/partners/IER.png" alt="IERC"></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6" >
                <div class="single-blog pointer" >
                    <div class="blog-img">
                        <a><img src="assets/images/partners/WaltonInst.png" alt="Walton"></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6" >
                <div class="single-blog pointer" >
                    <div class="blog-img">
                        <a><img src="assets/images/partners/Uninova.png" alt="Uninova"></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6" >
                <div class="single-blog pointer" >
                    <div class="blog-img">
                        <a><img src="assets/images/partners/insight.png" alt="Insight"></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6" >
                <div class="single-blog pointer" >
                    <div class="blog-img">
                        <a><img src="assets/images/partners/FC.png" alt="Fundacao Champalimaud"></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6" >
                <div class="single-blog pointer" >
                    <div class="blog-img">
                        <a><img src="assets/images/partners/deepblue.png" alt="Deepblue"></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6" >
                <div class="single-blog pointer" >
                    <div class="blog-img">
                        <a><img src="assets/images/partners/i2s.png" alt="i2s"></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6" >
                <div class="single-blog pointer" >
                    <div class="blog-img">
                        <a><img src="assets/images/partners/HSE.png" alt=""></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
