<div class="page-title-area text-start">
    <div class="container">
        <div class="page-title-content">
            <h2>Terms & Conditions</h2>

        </div>
    </div>


</div>

<section class="privecy-area ptb-100">
    <div class="container">
        <h2>Privacy Policy</h2>
        <p>
            At TFC Research and Innovation Limited, ‘TFC’, we understand the importance of trust in our business.
            We apply much care with personal information that is provided to us online or otherwise, taking steps
            to keep it secure and ensure it is used only for legitimate purposes. This information will never be
            disclosed to any 3rd party, other than the Companies Registration Office without your full consent.
            We are fully compliant with the EU General Data Protection Regulation (GDPR). In the unlikely event
            of a police or revenue investigation for money laundering, terrorist financing, etc., which is unlikely,
            we are legally obliged to disclose our files. We may on occasions, send you or forward an e - mail
            to inform you of services we offer, or research and projects that we are conducing, which we believe
            may be of interest to you, bu t you may opt out of these e - mails at any time. We wouldn’t want to
            see you go. Should you wish to leave, send an email directly at contact@tfcengage.com to let us know please.
        </p>
        <p>
            Any information, which is provided by you will be treated in accordance with the terms of the Data
            Protection Act, EU General Data Protection Regulation (GDPR), 1988, Directive 95/46/EC of the European
            Parliament and of the Council of 24 October 1995 on the Protection of Individuals with regard to the
            Processing of Personal Data and on the Free Movement of Such Data, and any implementing and/or amending
            legislation as may be adopted in Ireland from time to time.
        </p>
        <h2>Cookies Policy</h2>
        <p>
            When we provide services, we want to make them easy, useful and reliable. Where services are
            delivered on the Internet, this can involve placing small amounts of information on your device,
            for example, computer or mobile phone. These include small files, which are known as cookies.
            They cannot be used to identify you personally.
        </p>
        <p>
            These pieces of information are used to improve services for you through, for example: enabling a
            service to recognise your device so that you don’t have to give the same information several times
            during one task recognising that you may already have given a username and password so you don’t need
            to do it for every web page requested; measuring how many people are using services, so they can be made
            easier to use and there’s enough capacity to ensure they are fast. Should you choose to restrict or
            block the cookies, which are set by our website, or indeed any other website, you can do this through
            your browser settings. (be aware please that by restricting cookies you may impact on the functionality
            of our website). By continuing to use this website you consent to us using cookies to enhance your experience.
        </p>
        <h2>Data Protection Notice</h2>
        <h3>1. Introduction</h3>
        <p>
            TFC Research and Innovation Limited as the Data Controller in compliance with Data Protection regulation
            is required to gather and use a variety of information about individuals and businesses through the course
            of normal business practices.
        </p>
        <p>
            Information gathered includes associates, project partners, customers, suppliers, employees, and any
            other person deemed necessary throughout the course of conducting business.
        </p>
        <p>
            This policy exists to further strengthen the compliance displayed by TFC, showing good practice
            and process with regards to data protection legislation. It protects the rights of staff, project partners,
            customers and all other connected parties while being transparent about how individuals’ data is processed
            and maintained. This policy should also protect TFC from risk of data breach.
        </p>
        <div>
            <p>
                The organisation should comply with the requirements of the relevant Irish legislation, namely the
                Irish Data Protection Act (1988), and the Irish Data Protection (Amendment) Act (2003). Along with
                GPDR regulations being implemented by the EU Data Protection Commission on the 25th May 2018, TFC will
                adhere to the below broad points throughout with regards to data processing:
            </p>
            <ol>
                <li>Fair and lawful processing.</li>
                <li>As much as possible kept up to date and accurate.</li>
                <li>Retained no longer than is necessary;To be protected appropriately.</li>
                <li>Obtained only for specific lawful purposes;To be relevant, adequate and not excessive.</li>
                <li>Maintained and managed in accordance with data protection rights and regulations.</li>
            </ol>
        </div>
        <h3>2. Policy Scope</h3>
        <p>
            When referring to ‘TFC Research and Innovation Limited’, ‘TFC’, ‘us’, ‘we’ or ‘the company’ within
            the body of this policy document, encompasses all trading names, subsidiaries and direct affiliates
            including but not limited to – TFC Research and Innovation Limited (TFC).
        </p>
        <p>
            All personnel associated with any of the above entities or trading names, volunteers, contractors,
            suppliers or anyone else acting on behalf of TFC Research and Innovation Limited will be covered by this policy.
        </p>
        <p>
            This policy encompasses the Subject Access Request procedure, the Data Retention and Destruction Policy,
            the Data Retention Periods List and the Data Loss Notification procedure all detailed within.
        </p>
        <p>
            It will cover any and all information or other data held on any identifiable individuals.<br>
            This includes: Names, Dates of Birth, Addresses, Email Addresses, Telephone Numbers, Passport Copies,
            Proof of Address Copies and any other information relating to any individual.
        </p>
        <h3>3. Data Protection Risks</h3>
        <div>
            <p>
                This policy exists to cover a wider protection against direct risks, which can be generally classified as follows:
            </p>
            <ol>
                <li>Breaches in confidentiality.</li>
                <li>Failing to offer choice.</li>
                <li>Reputational damage.</li>
            </ol>
        </div>
        <h3>4. Data Collection</h3>
        <p>
            TFC collects an amount of personal data either through direct means, requested as part of providing
            any kind of service within the company or through standard business procedures. We will also collect
            data through our websites, social media platforms, market research, desk - checks, discussion forums,
            videos and CCTV footage, as it be applicable. Our websites use cookie technology, which is a section
            of text placed on your device to help make our sites perform better for our customers, partners and visitors.
            Any changes to the above methods of data collection will be fully explained in advance of their use.
        </p>
        <p>
            To comply with up to date data protection regulation (GDPR), with time we aim to collect some personal
            information and verify it. This information will also be kept up to date and maintained but will be
            deleted/appropriately disposed of once the information is no longer required. In some cases, 3rd parties
            may be used to obtain further information about individuals if required. If the appropriate level of
            information is not received, we may not be able to provide services to an individual.
        </p>
        <p>
            No collected data is to be written down unnecessarily or passed informally between employees.
        </p>
        <p>
            Through the course of business, TFC collects data from a variety of sources and types, which may
            change based on the specific requirements of the service being ordered or inquired about.
        </p>
        <div>
            <p>
                When data is collected or obtained, the individual should be made aware of the below:
            </p>
            <ol>
                <li>TFC in any of the above listed forms is the overall Data Controller in all cases.</li>
                <li>Why data is being obtained/collected.</li>
                <li>What parties, internal or external the data will be processed by.</li>
            </ol>
        </div>
        <p>
            All or any other relevant information that can be provided to add to the information surrounding the same should be provided.
        </p>
        <p>
            In all cases, the individual has the right to a full and transparent explanation as to the reason data is
            being collected and the intended use of the data in question.
        </p>
        <p>
            Data should only be used within the purposes it was acquired for.
        </p>
        <p>
            The company will have high standards in all cases when it comes to the protection of data.
        </p>
        <div>
            <p>
                Access to data should only be granted to the employees for the completion of their role or task. TFC will also ensure:
            </p>
            <ol>
                <li>Each unit of the business conducts regular reviews of admin and IT processes to ensure data security.</li>
                <li>
                    Reviews of this nature should apply to both personal data or customers, individuals and employees,
                    sample data should be taken by the Data Protection Officer and updated where appropriate every year.
                </li>
                <li>
                    Review amount of data being obtained relevant to each service or tasks under the same time period.
                </li>
            </ol>
        </div>
        <p>
            All personnel and the company as a whole will ensure that data collected is fit for purpose and relevant
            to the service being provided to individuals. Where data is not applicable, it should not be collected or
            if inadvertently provided by an individual be destroyed. As soon as the appropriate retention period has expired,
            all data should be destroyed and/or put beyond use.
        </p>
        <p>
            In line with legislation, TFC have established a Subject Data Request process, with further information
            details below. Requests can be directed to our Data Protection Officer.
        </p>
        <h3>5. Employee and Potential Employee Data</h3>
        <p>
            As part of the standard recruitment process, TFC may collect, CVs, Personal Information from online
            and social media sources, Proof of Identity and address and Proof of Qualifications where appropriate.
            When a role has been filled, personal information gathered on an unsuccessful candidate will be
            destroyed/shredded, unless it is agreed that it can be held for future recruitment or other legitimate
            business purposes. As a direct employee, all of the above is gathered where required and stored safely
            within the company. As with all information, the company is required to retain data for six years after
            it be comes inactive, e.g. ceases employment. Once this information is no longer required it will be
            destroyed as above.
        </p>
        <h3>6. Internal Processes</h3>
        <p>
            While a general overview of staff responsibilities will be discussed below, there are two key relevant positions.
        </p>
        <p>
            <strong>The Board of Directors</strong><br>
            Ultimately responsible for ensuring that TFC complies with its legal obligations.
            All of the sitting directors are to be considered Representatives for the purposes
            of Data Protection Legislation.
        </p>
        <p>
            <strong>Data Protection Officer</strong><br>
            Tasked with keeping the board up to date with data protection regulation and renewing data
            protection procedures and related policies. Arranging training and handling queries in this regard from staff.
            To deal with requests from individuals to see data held by TFC on them – called ‘subject access requests’.
            Review of contracts, agreements in place with any third party that maintains or handles any sensitive
            data associated with TFC.
        </p>
        <h3>7. Consent</h3>
        <p>
            Once personal information has been provided to TFC through a means of communication or website with the
            appropriate consent, marketing materials of a legitimate interest including related products or services
            in line with those originally requested may be sent.
        </p>
        <p>
            If a customer, partner or potential partner does not wish to receive these materials, then they can
            simply inform us at contact@tfcengage.com. Note, we do not consider ‘unsubscribing’ as being the same as
            the cancellation of services – this must be communicated separately.
        </p>
        <p>
            Customers may be asked over the phone if they wish to receive marketing materials,
            offers and other content from TFC prior to the same being sent.
        </p>
        <p>
            In all cases, a customer or potential customer will not be contacted with marketing materials, etc.
            where consent through them being classified as an on - going or professional customer, legitimate interest
            in services or direct permission cannot be established.
        </p>
        <p>
            In some situations, the company may have obtained sensitive personal information from a customer directly
            as part of providing a service. This information will not be shared with any party unless the express
            agreement of the customer has been obtained.
        </p>
        <h3>8. Data Storage</h3>
        <p>
            Questions about storing data safety can be directed to our Data Protection Officer where applicable.
        </p>
        <p>
            Where appropriate, paper documents containing any kind of personal information or customer communications
            shall be shredded and externally disposed.
        </p>
        <p>
            <strong>Electronic Data</strong><br>
            Internal policies are in place to ensure security is maintained once handled by all employees.
        </p>
        <h3>9. Data Usa</h3>
        <p>
            Computers with access to any personal data; each employee should ensure that screens are locked
            appropriately before leaving machines unattended. Personal Data should not be shared informally.
            Where appropriate data should be encrypted before being transferred electronically.
        </p>
        <h3>10. Data Accuracy</h3>
        <p>
            In all cases, data will be held in as few places as possible. Based on risk, files should be reviewed on
            a staggered basis to ensure data is updated and inaccuracies are discovered and corrected.
        </p>
        <h3>11. Data Retention & Destruction Procedure</h3>
        <p>
            In all cases, personal data will not be held longer than is necessary and when appropriate destroyed in
            a secure manner. Documents held securely by TFC following the cancellation of services are destroyed using
            shredding facilities, as below once the tracked time period has expired.
        </p>
        <p>
            Data is, in all cases to be destroyed in an appropriate manner. All elements of TFC use approved
            shredding facilities to ensure data integrity. Unless where specifically specified in this policy,
            data will be retained by TFC for a period of six years following the data being classed as inactive.
            This is represented by customer or enquiry no longer being considered live or on - going. This will be
            indicated by the cancellation of services either by the customer, any element of TFC or if an enquiry
            received is deemed to be inactive – more than one year old.
        </p>
        <h3>12. Data Loss Notification Procedure</h3>
        <p>
            In the event of a breach or any data suspected of being compromised, any member of staff is to inform our
            Data Protection Officer at the earliest possible opportunity.
        </p>
        <p>
            Where appropriate, the relevant authorities should be informed of the breach at the earliest possible
            instance. The earliest possible timeframe for this report should be as soon as the extent and nature
            of the data loss has been confirmed or no more than seven days after the breach. This should include the
            nature of the breach, the amount of personal information compromised, and the action being taken to rectify the issue.
        </p>
        <p>
            Any individual that has been subject to the breach should be informed as soon as the extent and
            nature of the data loss has been confirmed or no more than seven days after the breach, detailing
            the steps being taken to rectify the issue and the steps, if any that the individual should take directly
            to further secure their information.
        </p>
        <p>
            In all cases, the relevant authorities and any effected individuals should be kept informed of the
            progress of dealing with any breach until a time when the issue is considered closed. A report should
            be maintained and made available when required by any effected party.
        </p>
        <h3>13. Subject Access Requests Procedure</h3>
        <p>
            All individuals who have personal data stored by TFC are entitled to what information the company holds
            about them, why it is retained and how to obtain access to the data.
        </p>
        <p>
            Each individual should be informed how their personal data is kept up to date and how TFC meets its data obligations.
        </p>
        <p>
            Requests for any such information can be submitted to our Data Protection Officer.
            The aim is to provide information on all requests within 30 days. Note that, appropriate measures will
            be taken to confirm the identity of the requestee prior to providing any information.
        </p>
        <p>
            Once a request has been made it is the responsibility of the Data Protection Officer to prepare the Subject Access report.
        </p>
        <p>
            The report should review all email communication and information held in relation to an individual.
            In addition, any hard copy documentation or files should be listed, and the subject made aware of a data contained within.
        </p>
        <p>
            A report should be presented within the above timeframes, which should include a listing of all
            information held by the company on an individual and any relevant 3rd party that information has been shared with.
        </p>
        <p>
            The report should be reviewed, verified and signed off on by our Data Protection Officer.
            In all cases, an individual will have the right for their personal information to be removed (forgotten)
            from our system. The sole caveat to this being when it impacts TFC in providing or completing any service
            which the entity has been contracted to provide.
        </p>
        <h3>14. Personal Information and Third Parties</h3>
        <p>
            TFC does not share personal information with 3rd parties in any ancillary way. Information may, however,
            be shared with a 3rd party in direct connection with a service being provided by a Unit of the company.
            In a number of cases, pre-approved agents in various jurisdictions may be used to complete secretarial
            services and other business - related activities.
        </p>
        <p>
            In providing personal information in relation to a service, customers should be aware this information may
            be shared with a 3rd party in direct support of a service being provided by the relevant 3rd party.
        </p>
        <p>
            We are also required to share information with 3rd parties to meet any applicable law, regulation or
            lawful request. When we believe we have been given false or misleading information, or we suspect
            criminal activity we must record this and inform appropriate law enforcement agencies which may be either
            within or outside of Ireland.
        </p>
        <p>
            <strong>Third Parties</strong><br>
            TFC can use and can obtain the support of a number of 3rd parties for services that are not internally
            managed. Services can include payment processing and IT support services depending on the scientific
            research project at hand. This process is managed by our Data Protection Officer.
        </p>
        <h3>15. Internal Communication</h3>
        <p>
            Where avoidable personal information on customers should not be shared through email and under no
            circumstances should information of a sensitive nature be sent in this way.
        </p>
        <h3>16. Making a Complaint</h3>
        <p>
            Should any person have a concern with regards to the use of their personal information, a member of
            staff can be informed in person and via phone or email. All complaints or concerns will be fully
            investigated and reviewed. We would simply ask that as much information is provided as possible to enable
            us to resolve the complaint as quickly as possible.
        </p>
        <h3>17. Update to Data Policy</h3>
        <p>
            From time to time, particularly when how we are required to use information changes or when our systems
            are upgraded and in line with future legislation on data protection, changes will be made to this policy.
            An up to date version of this policy can be found on our website at all times.
        </p>
        <div>
            <p>
                Moreover, our activities for Horizon Europe proposal development incorporates the following:
            </p>
            <ol>
                <li>Concept assessment, identify Horizon Europe, international and national funding sources</li>
                <li>Strengthen with think - tank, innovation and market outreach,</li>
                <li>Manage and oversee the coordination and development of the proposal,</li>
                <li>Form consortia in line with the vision of the CEO,</li>
                <li>Plan, write and develop proposals with partner contributions,</li>
                <li>Prepare budgets and administration details,</li>
                <li>Join consortium as project manager, standardization manager, quality manager, market outreach manager, etc.,</li>
                <li>Invite partners into applicable new proposals,</li>
                <li>Invite partners onto applicable external advisory boards,</li>
                <li>Pre - submission proposal reviews and assessment reports.</li>
            </ol>
            <p>
                listed undertaking is performed on a best efforts basis. We aim to strengthen our partners and customers proposition.
            </p>
        </div>
    </div>
</section>
