.banner-area{
    height: 500px;
}

.section-title {
    margin: 0;
    text-align: left;
    max-width: 100%;
}

ul{
    padding-left: 32px;
    list-style: disc;
}

.services-list {
    list-style: none;
    padding: 0;
    .services-list-item {
        cursor: pointer;
        font-size: 18px;
        border-bottom: 1px solid rgba(122, 126, 154, 0.25);
        padding: 10px 0
    }
}

.pt-50{
    padding-top: 50px
}

.text-container{
    margin-bottom: 30px;
}
