<app-banner title="Standardization"></app-banner>
<section class="home-service-area pt-50 pb-70">
    <div class="container">
        <div class="section-title row">
            <div class="col-lg-8">
                <div class="text-container">
                    <div>
                        The company is actively involved in standardization at national, European and International
                        levels, leading in Ireland the NSAI TC99 standardisation committee and some employees are
                        an active in the European CEN TC391 societal and citizen standardization committee, the
                        CEN Security Sector Forum as well as the ISO 292 Security and resilience committee.
                        In many European projects, TFC leads in the area of standardization activities, such as
                        in the recently completed European projects, NO-FEAR and SPEEDIER, and in ongoing projects,
                        e.g., PEERS and FAITH.
                    </div>
                </div>
                <div class="text-container">
                    <div>
                        TFC lead and support the development of outreach plans and activities for communications,
                        dissemination and exploitation. Each research project is poised with different challenges
                        and requires fresh thinking to help with the reach to target audiences and market acceptance.
                        The company helps with delivery of outreach services often leading or partnering management
                        teams in this capacity and we develop and refine Goto market strategies in support based on
                        our applied lateral thinking approach.
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <app-services-list></app-services-list>
            </div>
        </div>
    </div>
</section>

