
<app-banner title="Europol"></app-banner>
<section class="home-service-area pt-50 pb-70">
    <div class="container">
        <div class="section-title row">
            <div class="col-lg-12">
                <div class="article-image mb-30">
                    <div style="max-width: 800px; max-height: 600px; margin: 0 auto">
                        <img src="assets/images/europol.jpg" alt="image" >
                    </div>
                    
                </div>
                <div class="text-container">
                    <div>
                        As guest speakers of Europol, Den Haag, 23rd June 2023, both Tom Flynn and Patricia Compard,
                        addressed the attendees on the area of standardisation with regards to Law Enforcement,
                        the PEERS project and separately contribute to the engaging round table discussions in relation to standardisation and growing interest of Artificial Intelligence.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
