<section class="banner-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="banner-content pl-30">
                            <h1>Proposal Development</h1>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <!--                        <div class="banner-img">-->
                        <!--                            <img src="assets/images/home-bg-1-img.png" alt="banner-img" />-->
                        <!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="home-service-area pt-50 pb-70">
    <div class="container">
        <div class="section-title row">
            <div class="col-lg-8">
                <div class="text-container">
                    <div>
                        <strong>Horizon Europe</strong> is the EU's key funding program for Research & Innovation
                        with a budget of €95.5 billion. It will run from 2021 to 2027. TFC is involved in a number
                        of Horizon Europe projects and developed a number of successful proposals. Each single
                        stage proposal has 3 fundamental sections: Excellence, Impact and Implementation and they
                        have unique requirements. Well acquainted in the delivery of proposals on behalf of client
                        organizations, we engage with a large European network and on a fee-based arrangement to
                        support delivery to the European Commission. We are specialized in advice, support and
                        project management for Horizon Europe projects.
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <app-services-list></app-services-list>
            </div>
        </div>
    </div>
</section>

