<div class="page-title-area text-start">
    <div class="container">
        <div class="page-title-content">
            <h2>Archives</h2>
        </div>
    </div>

    <!--    <div class="page-shape">-->
    <!--        <div class="shape1"><img src="assets/images/shape/1.png" alt="shape" /></div>-->
    <!--        <div class="shape3"><img src="assets/images/shape/3.png" alt="shape" /></div>-->
    <!--        <div class="shape4"><img src="assets/images/shape/4.png" alt="shape" /></div>-->
    <!--        <div class="shape5"><img src="assets/images/shape/5.png" alt="shape" /></div>-->
    <!--        <div class="shape6"><img src="assets/images/shape/6.png" alt="shape" /></div>-->
    <!--    </div>-->
</div>

<section class="home-blog-area pt-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <!--                    <div class="blog-img">-->
                    <!--                        <a routerLink="/blog-details"><img src="assets/images/blog/1.jpg" alt="blog"></a>-->
                    <!--                    </div>-->

                    <div class="content">
<!--                        <ul>-->
<!--                            <li>August 2023</li>-->
<!--                        </ul>-->
                        <a>
                            <h3>SPEEDIER - SME Programme for Energy Efficiency through Delivery and Implementation of Energy Audits</h3>
                        </a>
                        <p>
                            SPEEDIER is a European project funded by the EU’s Horizon 2020 programme,
                            Grant number 847034. The central output is an innovative SPEEDIER Service
                            provision would be of particular interest to Small to Medium sized Enterprises
                            (SMEs) and Energy Efficiency Experts.
                        </p>
                        <!--                        <a routerLink="/blog-details" class="line-bnt">Read More</a>-->
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <!--                    <div class="blog-img">-->
                    <!--                        <a routerLink="/blog-details"><img src="assets/images/blog/2.jpg" alt="blog"></a>-->
                    <!--                    </div>-->

                    <div class="content">
<!--                        <ul>-->
<!--                            <li>July 2023</li>-->
<!--                        </ul>-->
                        <a>
                            <h3>STAIR4SECURITY- Standards, Innovation
                                and Research for Security</h3>
                        </a>
                        <p>
                            STAIR4SECURITY is an EU-funded project. It is aimed at the creation of a collaborative
                            platform as single-entry point of information on the operational security sector
                            derived mainly from EU research activities allowing a better governance of standardisation needs.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="content">
<!--                        <ul>-->
<!--                            <li>2023</li>-->
<!--                        </ul>-->
                        <a>
                            <h3>NO-FEAR - Network Of practitioners For Emergency
                                medical systems and cRitical care</h3>
                        </a>
                        <p>
                            NO-FEAR is an EU-funded project that brings together a pan-European community primarily
                            comprising of Emergency Medical Care practitioners, suppliers, decision and policy makers
                            collaborating to exchange knowledge, understanding best practices and lessons learnt.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
