<ul class="header-social d-flex">
    <li><a href="https://twitter.com/TFCRIL" target="_blank"><i class="bx bxl-twitter" style="color: #000000"></i></a></li>
    <li><a href="https://www.linkedin.com/company/tfcril/" target="_blank"> <i class="bx bxl-linkedin-square" style="color: #0a66c2"></i></a></li>
    <li><a href="https://www.facebook.com/TFCRIL" target="_blank"><i class="bx bxl-facebook" style="color: #0866ff"></i></a></li>
    <li><a href="https://www.youtube.com/channel/UCMCG8WmmfVAqTNifEijDHUw" target="_blank"> <i class="bx bxl-youtube" style="color: #ff0000"></i></a></li>
</ul>
