<section class="banner-area" style="background-image: url('assets/images/lights-of-roads-amsterdam-city-top-view-from-airpl-2022-10-05-21-15-18-utc.jpg')">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="banner-content pl-30">
                            <ng-container *ngIf="router.url === '/'">
                                <h1 [innerHTML]="title"></h1>
                            </ng-container>
                            <ng-container *ngIf="router.url !== '/'">
                                <h1>{{title}}</h1>
                            </ng-container>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <!--                        <div class="banner-img">-->
                        <!--                            <img src="assets/images/home-bg-1-img.png" alt="banner-img" />-->
                        <!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
