<section class="banner-area" style="background-image: url('assets/images/lights-of-roads-amsterdam-city-top-view-from-airpl-2022-10-05-21-15-18-utc.jpg')">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="banner-content pl-30">
<!--                            <h1>Engaged <br>Scientific Research</h1>-->
                            <ng-container *ngIf="router.url === '/'">
                                <h1 [innerHTML]="title"></h1>
                            </ng-container>

                            <ng-container *ngIf="router.url !== '/'">
                                <h1>{{title}}</h1>
                            </ng-container>

                            <!--                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, et sed do eiusmod tempor incididunt labore dolore magna aliqua. Quis ipsum suspendisse.</p>-->
                            <!--                            <div class="banner-btn">-->
                            <!--                                <a routerLink="/contact" class="box-btn">Contact Us</a>-->
                            <!--                                <a routerLink="/about" class="box-btn border-btn">Know More</a>-->
                            <!--                            </div>-->
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <!--                        <div class="banner-img">-->
                        <!--                            <img src="assets/images/home-bg-1-img.png" alt="banner-img" />-->
                        <!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--    <div class="home-shape">-->
    <!--        <div class="shape1"><img src="assets/images/shape/1.png" alt="shape"></div>-->
    <!--        <div class="shape2"><img src="assets/images/shape/2.png" alt="shape"></div>-->
    <!--        <div class="shape3"><img src="assets/images/shape/3.png" alt="shape"></div>-->
    <!--        <div class="shape4"><img src="assets/images/shape/4.png" alt="shape"></div>-->
    <!--        <div class="shape5"><img src="assets/images/shape/5.png" alt="shape"></div>-->
    <!--        <div class="shape6"><img src="assets/images/shape/6.png" alt="shape"></div>-->
    <!--    </div>-->
</section>
