<h3>Services</h3>
<hr>
<div class="services">
    <ul class="services-list">
        <li routerLink="/services-clustering" class="services-list-item">Clustering </li>
        <li routerLink="/services-better-practice-guides" class="services-list-item">Better Practice Guides</li>
        <li routerLink="/services-conceptual-architecture" class="services-list-item">Conceptual Architecture</li>
        <li routerLink="/services-project-management" class="services-list-item">Project Management</li>
        <li routerLink="/services-standardization" class="services-list-item">Standardization</li>
        <li routerLink="/services-outreach" class="services-list-item">Outreach</li>
        <li routerLink="/services-proposal-development" class="services-list-item">Proposal Development</li>
    </ul>
</div>
