<section class="banner-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="banner-content pl-30">
                            <h1>Join Peers Group</h1>
                        </div>
                    </div>
                    <div class="col-lg-6">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="home-service-area pt-50 pb-70">
    <div class="container">
        <div class="section-title row">
            <div class="col-lg-12">
                <div class="article-image mb-30">
                    <img src="assets/images/QRCode.png" alt="image">
                </div>
                <div class="text-container">

                </div>
            </div>
        </div>
    </div>
</section>
