<section class="banner-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="banner-content pl-30">
                            <h1>Join the PEERS Co-Creation Group</h1>
                        </div>
                    </div>
                    <div class="col-lg-6">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="home-service-area pt-50 pb-70">
    <div class="container">
        <div class="section-title row">
            <div class="col-lg-8">
                <div class="text-container">
                    <p>
                        You are welcome to join the PEERS Co-Creation Group via the QR or
                        <a href="https://tinyurl.com/peers-request" target="_blank">link</a>
                        https://tinyurl.com/peers-request.
                    </p>
                    <p>
                        PEERS primarily targets Europe's CBRN-E practitioners, European research policymaking as well
                        as other stakeholders including the research community and national standardisation bodies.
                    </p>
                    <p>
                        We welcome stakeholder engagement so that we work in a manner that best suits our primary targets,
                        giving the approved registered members of the Co-creation Group access to the PEERS platform
                        within the surrounding ecosystem.  We operate in a manner that is orientated towards European
                        front line practitioners and policy makers and apply a bottom up approach with a view to
                        strengthen European preparedness and response to a CBRN-E incident.
                    </p>
                    <p>
                        The Co-creation Group aims are to:
                    </p>
                    <ol>
                        <li>
                            Advance and reinforce the European Union’s operational safety and security policies
                            through the development of a practitioner-driven ecosystem focused on
                            pre-normative / standardisation processes and supporting tools.
                        </li>
                        <li>
                            Include in the ecosystem a user-centric platform the Better Practice Guide initiative,
                            gamification and e-Learning support.
                        </li>
                        <li>
                            Set up an engagement vehicle and hear from you from your perspective, needs and understanding
                            so that we deliver a platform that works for the community in the way that they need it.
                        </li>
                    </ol>
                </div>
            </div>
            <div class="col-lg-4 article-image" style="width:400px;">
                <!-- <img ngSrc="../../../../../assets/images/QRCodes.png" alt="image" height="1890" width="1890"> -->
                <img src="../../../../assets/images/QRCodes.png"/>
            </div>
        </div>
    </div>
</section>
