<div class="page-title-area text-start">
    <div class="container">
        <div class="page-title-content">
            <h2>Services</h2>
        </div>
    </div>
</div>
<!--<app-banner title="Services"></app-banner>-->

<section class="home-blog-area pt-70">
    <div class="container">
        <div class="section-title support-text">
            <p>TFC leverages its’ skill base to enable research to be realised that contributes to the understanding of our changing world in a social and technological context and contributes to its evolution. Research is targeted at improving the quality of people’s lives, in areas such as
                Societal and citizen resilience, Cancer-survivorship and AI for well-being, Energy transition and separately, Inclusion at national and European level. Our Services provision includes:</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="content">
                        <a routerLink="/services-clustering"><h3>Clustering</h3></a>
                        <p>
                            We instigate stakeholder engagement through the development of Cluster Groups who have a specific interest on a topic and bring different intelligence to the table so that perceived understanding and perspectives can be ascertained with follow up supporting actions.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="content">
                        <a routerLink="/services-better-practice-guides"><h3>Better Practice Guides</h3></a>
                        <p>Thanks to our European research and engagement in standardization, the new Better Practice Guide initiative (BPG)
                            is born.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="content">
                        <a routerLink="/services-conceptual-architecture"><h3>Conceptual Architecture</h3></a>
                        <p>TFC has a skill set that embodies creative thinking. The company utilizes its’ conceptualism approach for much of our work, characterized by the introduction of lateral thinking and
                            fresh ideas to expand an initial or drafted concept, which may/may not be instigated inhouse, by a partner or client.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="content">
                        <a routerLink="/services-project-management"><h3>Project Management</h3></a>
                        <p>Project management is the process of leading teams and work undertaken to achieve goals and objectives to specific criteria within a defined timeframe. TFC undertake project management and related activities</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="content">
                        <a routerLink="/services-standardization"><h3>Standardization</h3></a>
                        <p>The company is actively involved in standardization at national, European and International levels, leading in Ireland the NSAI TC99 standardisation committee and some employees are
                            an active in the European CEN TC391 societal and citizen standardization committee, the CEN Security Sector Forum as well as the ISO 292 Security and resilience committee.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="content">
                        <a routerLink="/services-outreach"><h3>Outreach</h3></a>
                        <p>
                            We deliver dissemination and exploitation plans as well as social media
                            activities and direct engagement to targeted markets and influencers.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="content">
                        <a routerLink="/services-proposal-development"><h3>Proposal Development</h3></a>
                        <p><strong>Horizon Europe</strong> is the EU's key funding programme for Research & Innovation with a budget of €95.5 billion. It will run from 2021 to 2027. TFC is involved in a number of Horizon Europe projects and developed a number of successful proposals.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
