<section class="banner-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="banner-content pl-30">
                            <h1>Conceptual Architecture</h1>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <!--                        <div class="banner-img">-->
                        <!--                            <img src="assets/images/home-bg-1-img.png" alt="banner-img" />-->
                        <!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="home-service-area pt-50 pb-70">
    <div class="container">
        <div class="section-title row">
            <div class="col-lg-8">
                <div class="text-container pb-70">
                    TFC has a skill set that embodies creative thinking.
                    The company utilizes its’ conceptualism approach for much of our work, characterized by the
                    introduction of lateral thinking and fresh ideas to expand an initial or drafted concept,
                    which may/may not be instigated inhouse, by a partner or client. Often, we instigate practical
                    fresh-ideas to strengthen innovation outcomes. We apply this approach through the many facets of
                    scientific research and business, often evident at proposal development stages for
                    European & National projects as well as at design and development stages.
                </div>

            </div>
            <div class="col-lg-4">
                <app-services-list></app-services-list>
            </div>
        </div>
    </div>
</section>
