<section class="banner-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="banner-content pl-30">
                            <h1>Better Practice Guides</h1>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <!--                        <div class="banner-img">-->
                        <!--                            <img src="assets/images/home-bg-1-img.png" alt="banner-img" />-->
                        <!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="home-service-area pt-50 pb-70">
    <div class="container">
        <div class="section-title row">
            <div class="col-lg-8">
                <div class="text-container pb-70">
                    Thanks to our European research and engagement in standardization, the new Better
                    Practice Guide initiative (BPG) is born. A BPG is an entity in its own right and sits
                    in the pre-nominative standardization space.
                    It is driven by practitioners (i.e., people in the know) and at reasonable cost.
                    Guides are developed in support, available for use and reference, residing in the TFC repository.
                    The development of a Better Practice Guide is applicable to most sectors.
                </div>

                <div class="text-container">
                    <h3>Sample Documents</h3>
                    <div class="row text-center">
                        <div class="col-lg-4">
                            <a href="../../../../../assets/bpg/Speedier-Best-Practice-Guide.pdf" target="_blank">
                                SPEEDIER ENERGY EXPERT SUPPORT TOOL INTEROPERABILITY CONNECTIVITY
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="../../../../../assets/bpg/DRR-Data-Ecosystem-Operational-Platform.pdf" target="_blank">
                                DDR Data Ecosystem Operational Platform
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="../../../../../assets/bpg/NO-FEAR-Damage-Control-BPG.pdf" target="_blank">
                                DCS DAMAGE CONTROL STRATEGIES
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <app-services-list></app-services-list>
            </div>
        </div>
    </div>
</section>
