//.banner-area{
//    height: 500px;
//}

.section-title {
    margin: 0;
    text-align: left;
    max-width: 100%;
}

ul{
    padding-left: 32px;
    list-style: disc;
}



.pt-50{
    padding-top: 50px
}

.text-container{
    margin-bottom: 30px;
}
