<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>Projects</h2>
        </div>
    </div>
</div>

<section class="home-blog-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6" >
                <div class="single-blog pointer">
                    <div class="blog-img">
                        <a ><img src="assets/images/faith-logo.png" alt="faith"></a>
                    </div>
                    <div class="content">
                        <a><h3>FAITH</h3></a>
                        <p>
                            AI support for post-cancer patience and consultants.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 " >
                <div class="single-blog pointer" >
                    <div class="blog-img">
                        <a ><img src="assets/images/peers-logo.png" alt="PEERS"></a>
                    </div>

                    <div class="content">
                        <a ><h3>PEERS</h3></a>
                        <p>
                            Delivering transformational
                            change in the EU Disaster Risk Resilience
                            and CBRN-E environment through
                            standardisation.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" >
                <div class="single-blog pointer" >
                    <div class="blog-img">
                        <a><img src="assets/images/bprepared.png" alt="B-PREPARED"></a>
                    </div>
                    <div class="content">
                        <a><h3>B-PREPARED</h3></a>
                        <p>
                            B-PREPARED
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
