<app-banner title="Sponsorship"></app-banner>
<section class="home-contact-area home-2-contact pt-100 pb-100">
    <div class="container">
        <div class="section-title">
            <p>
                TFC where deemed appropriate on occasions sponsor solid work undertaken by voluntary organisations
                and worthy causes and will use this space on the web site in support.
            </p>
        </div>
    </div>
</section>

<!--<section class="contact-area pt-100 pb-70">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-4 col-sm-6">-->
<!--                <div class="single-contact">-->
<!--                    <div class="icon">-->
<!--                        <i class='bx bx-envelope'></i>-->
<!--                    </div>-->

<!--                    <div class="content">-->
<!--                        <h3>Email</h3>-->
<!--                        <p>hello@aiva.com</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="col-lg-4 col-sm-6">-->
<!--                <div class="single-contact">-->
<!--                    <div class="icon">-->
<!--                        <i class='bx bx-location-plus'></i>-->
<!--                    </div>-->

<!--                    <div class="content">-->
<!--                        <h3>Address</h3>-->
<!--                        <p>28/A Street, New York City, USA</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="col-lg-4 col-sm-12">-->
<!--                <div class="single-contact">-->
<!--                    <div class="icon">-->
<!--                        <i class='bx bx-phone-call'></i>-->
<!--                    </div>-->

<!--                    <div class="content">-->
<!--                        <h3>Phone</h3>-->
<!--                        <p>+1 (321) 984 754</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->


