.footer-area .copy-area{
    margin-top: 0;
}

.footer-area{
    background: #d9d9d9;
}
.header-social li a{
    font-size: 24px;
}

.header-social{
    justify-content: end;
}

.footer-area .copy-area p {
    font-size: 15px;
    color: #7a7e9a;
    margin-bottom: 0;
}
