<app-banner title="Project Management"></app-banner>
<section class="home-service-area pt-50 pb-70">
    <div class="container">
        <div class="section-title row">
            <div class="col-lg-8">
                <div class="text-container">
                    <div>
                        Project management is the process of leading teams and work undertaken to achieve goals
                        and objectives to specific criteria within a defined timeframe. TFC undertake project
                        management and related activities (e.g., risk and quality management) across European
                        and national research projects. The company is active in this capacity across a number
                        of European projects, such as in the FAITH project, which involves AI/Federate Learning
                        in post- cancer treatment stages, which is led by the South East Technological University, Ireland.
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <app-services-list></app-services-list>
            </div>
        </div>
    </div>
</section>

