<app-banner title="Blog"></app-banner>
<section class="home-blog-area pt-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <!--                    <div class="blog-img">-->
                    <!--                        <a routerLink="/blog-details"><img src="assets/images/blog/1.jpg" alt="blog"></a>-->
                    <!--                    </div>-->

                    <div class="content">
                        <ul>
                            <li>August 2023</li>
                        </ul>
                        <a href="https://www.emergency-live.com/marketplace/changing-world-and-how-project-peers-can-help/" target="_blank">
                            <h3>Changing World - How project Peers can help</h3>
                        </a>
                        <p>
                            In recent years, as our world heats up, change has brought irregular weather patterns.
                            Heatwaves, forest fires, droughts, heavy rain falls which lead to shocking destructive
                            flooding and storms have rapidly becoming the new norm of our world. We witness, today,
                            geo-political events leading to destabilised world economies, energy and grain shortage
                            supplies becoming more evident. This has become a part of our everyday life.
                            According to the European Commission food security unit report, heatwaves and risk of
                            water shortages will be more apparent. Sadly, the legacy of our era will not be seen
                            in a positive light by future generations and their children’s children. This article
                            published in Emergency Live (August 2023) explains how project PEERS can help.
                        </p>
                        <!--                        <a routerLink="/blog-details" class="line-bnt">Read More</a>-->
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <!--                    <div class="blog-img">-->
                    <!--                        <a routerLink="/blog-details"><img src="assets/images/blog/2.jpg" alt="blog"></a>-->
                    <!--                    </div>-->

                    <div class="content">
                        <ul>
                            <li>June 2023</li>
                        </ul>
                        <a href="https://peers-project.eu/project/peers-cbrn-glossary-of-terms/" target="_blank">
                            <h3>The PEERS Glossary of Terms</h3>
                        </a>
                        <p>
                            The Glossary of Terms for Disaster Risk Management and CBRN-E experts is now available on
                            the PEERS website. Some months ago, a group of six Horizon 2020 projects led by the
                            “Resilient Europe and Societies by Innovating Local Communities” project (RESILOC)
                            collaborated to develop a set of disaster resilience terms and definitions with the
                            aim of creating a glossary which other projects could use.

                            The initiative acknowledged that there were recognised sources for definitions, such as
                            the United Nations Office for Disaster Risk Reduction (UNDRR), the European Commission
                            (EC) and the International Federation of Red Cross and Red Crescent Societies (IFRC) and
                            that individual projects were best advised to adopt threes rather than expend effort
                            creating their own.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <!--                    <div class="blog-img">-->
                    <!--                        <a routerLink="/blog-details"><img src="assets/images/blog/3.jpg" alt="blog"></a>-->
                    <!--                    </div>-->

                    <div class="content">
                        <ul>
                            <li>January 2023</li>
                        </ul>
                        <a href="https://no-fearproject.eu/archives/2228" target="_blank">
                            <h3>NO-FEAR Delft Workshop - The Importance of Standardisation</h3>
                        </a>
                        <p>
                            The NO-FEAR consortium met in the Dutch city of Delft in November 2022, as partners
                            approached the final six months of their project to improve emergency medical care
                            across Europe by combining the expertise of practitioners, suppliers, and authorities.
                            After its last progress meeting, the consortium opened its doors for a public workshop
                            on the pivotal importance of standardisation.

                            The workshop was hosted by the Royal Netherland Standardisation Institute (NEN) at their
                            Delft premises in the Netherlands, with attendees from across industry, academia,
                            and policy. In disaster medicine, clear and evidence-based standardisation is vital
                            to ensuring effectiveness and innovation as new players enter the market.
                            Despite this, medical practitioners frequently express their frustrations with standards.
                            The workshop aimed to break down some of these barriers.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
